extends layout

block content
  div(class="panel panel-default")
    div.panel-heading
      h3= "Overview"
    div.panel-body
      p Cyberaggression is broadly defined as using digital media to intentionally harm another person. Examples include negative content and words such as profanity, slang and abbreviations that would be used in negative posts such as hate, fight, wtf.
      p Cyberbullying is one form of cyberaggression that is more restrictively defined as intentional aggression that is repeatedly carried out in an electronic context against a person who cannot easily defend him or herself. Thus, cyberbullying consists of three main features: (1) an act of aggression online; (2) an imbalance of power between the individuals involved; and (3) it is repeated over time. An imbalance of power can include posts against an individual who cannot easily defend him or herself and or can include several individuals negatively targeting one individual.
      p Definition of a follower: Individuals that take an active part in cyberaggression or cyberbullying but do not start the cyberaggression or cyberbullying.
      p Definition of a victim: The individual that is the target of aggression/insult/harassment. Definition of a perpetrator: The individual who posts aggressive/insulting/harassing/ unwanted questions/comments.
      p Definition of defenders: Individuals with posts that dislike the cyberbullying and defend the victim from the perpetrators of aggression/insults/harassment. The goal of the defender is to help the victim who is being cyberbullied, even with usage of offensive words by attacking the perpetrators.
      p The purpose of this research is to better understand cyberaggression and cyberbullying in online social networks. Please help us by answering the questions for each image and its associated posts on Instagram. Use the definitions below to answer the questions about the different types of content that is posted.

  div(class="panel panel-default")
    div.panel-heading
      h3= "Process"
    div.panel-body
      p Read each post
      p Answer the questions about the image and its posts, using the best of your ability