extends layout

block content    
    h1= account.name
    h3= account.username

    each item in notes
        div.row(display='inline')
            if item.account.username==account.username && item.medias && item.medias.length > 0
                - // compute a url to an automatically resized image (by Cloudinary)
                - var url = item.medias[0].link.replace('upload/','upload/w_200,h_200,c_fill/')
                img(src=url, width="200")
