doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,700,400')
    link(href="/style/boostrapv3/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/style/boostrapv3/css/jasny-bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/style/pages/css/pages.css", rel="stylesheet", type="text/css")
    link(href="/style/custom.css", rel="stylesheet", type="text/css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="/style/boostrapv3/js/bootstrap.min.js")
    script(src="/style/boostrapv3/js/jasny-bootstrap.min.js")
    script(src="/style/custom.js")


  body
    include navbar

    div#content
      div.container
        block content

