a.button(href='/note/list') Notes
a.button(href='/account/list') Accounts
a.button(href='/context/list') Contexts
a.button(href='') Extension1
a.button(href='') Extension2
a.button(href='') Extension3
