div.container 
  nav(class="navbar navbar-default")
    div.navbar-header
      div.navbar-brand
        a(href='/') Cyberbullying Survey
    ul(class="nav nav-tabs")
      li
        a(href='/about') About
      li
        a(href='/survey/list') Survey
      li
        a(href='/survey/results') Results
