div.row
    div.one.column Pages
    div.eleven.columns
        each pageNumber in pageNumbers                      
            a(href='/note/list?page=' + pageNumber + '&perPage=' + perPage)
                button= pageNumber